html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#map {
  height: 100%;
}

.vrs-aircraft-info {
  font-size: 9px;
  width: 80px !important;
  height: 20px !important;
  background-color: #242e3c;
  color:wheat;
}