html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#map {
  height: 100%;
}

.adsb-radar-aircraft-info {
  padding-left: 40px;
  padding-top: 10px;
  position: relative !important;
  font-size: 10px;
  width: 100px !important;
  height: auto !important;
  color: #151718;
  text-shadow: 1px 1px 1px #fffdfa;
}

.adsb-radar-aircraft-info img {
  border: white;
  position: absolute;
  top: 0;
  left: -15px;
}

img.adsb-radar-aircraft-icon {
  width: 32px;
  height: 32px;
}